Type: Application
PrivateIncludes:
  - imgui.h
  - misc/cpp/imgui_stdlib.h
  - IconsMaterialDesign.h
  - AppFlow.hpp
  - GraphicsSFML.hpp
  - Experimental.hpp
PrivateDependencies:
  - Name: imgui/1.89.8-docking
  - Name: iconfontcppheaders/cci.20231102
  - Name: EditorAPI
  - Name: AppFlow
  - Name: GraphicsSFML
  - Name: experimental
  - Name: ClassGenLibrary
