Type: Interface
PublicIncludes:
  - SystemExtensions.hpp
  - Core.hpp
  - Experimental.hpp
PublicDependencies:
  - Name: systemextensions
  - Name: core
  - Name: experimental
